<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="ru.fantlab.android"
	android:installLocation="auto"
	>

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name=".App"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:resizeableActivity="true"
		android:supportsRtl="true"
		android:theme="@style/SplashTheme"
		tools:targetApi="n"
		>

		<activity
			android:name="ru.fantlab.android.ui.modules.main.MainActivity"
			android:theme="@style/SplashTheme"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.modules.login.LoginActivity"
			android:configChanges="keyboard|orientation|screenSize"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:screenOrientation="portrait"
			android:theme="@style/LoginTheme">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:host="login"
					android:scheme="fantlab"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.modules.user.UserPagerActivity"
			android:label="@string/user"
			android:parentActivityName=".ui.modules.main.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.modules.main.MainActivity"/>
		</activity>
		<activity
			android:name=".ui.modules.authors.AuthorsActivity"
			android:label="@string/authors"
			android:parentActivityName=".ui.modules.main.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.modules.main.MainActivity"/>
		</activity>
		<activity
			android:name=".ui.modules.author.AuthorPagerActivity"
			android:parentActivityName=".ui.modules.authors.AuthorsActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.modules.authors.AuthorsActivity"/>
		</activity>
		<activity
			android:name=".ui.modules.work.WorkPagerActivity"
			android:parentActivityName=".ui.modules.author.AuthorPagerActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.modules.author.AuthorPagerActivity"/>
		</activity>
		<activity
			android:name=".ui.modules.search.SearchActivity"
			android:parentActivityName=".ui.modules.main.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.modules.main.MainActivity"/>
		</activity>

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="8f0a95903f61d5dc2716d25b1addf1e44755258d"
			/>

	</application>

</manifest>