<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto"
	package="ru.fantlab.android"
	>

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name=".App"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:resizeableActivity="true"
		android:supportsRtl="true"
		android:theme="@style/SplashTheme"
		tools:targetApi="n"
		>

		<activity
			android:name="ru.fantlab.android.ui.modules.main.MainActivity"
			android:launchMode="singleTop"
			android:theme="@style/SplashTheme"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.modules.login.LoginActivity"
			android:configChanges="keyboard|orientation|screenSize"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:screenOrientation="portrait"
			android:theme="@style/LoginTheme"
			>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:host="login"
					android:scheme="fantlab"
					/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.modules.user.UserPagerActivity"
			android:parentActivityName=".ui.modules.main.MainActivity"
			/>
		<activity
			android:name=".ui.modules.authors.AuthorsActivity"
			android:parentActivityName=".ui.modules.main.MainActivity"
			/>
		<activity
			android:name=".ui.modules.awards.AwardsActivity"
			android:parentActivityName=".ui.modules.main.MainActivity"
			/>
		<activity
			android:name=".ui.modules.publishers.PublishersActivity"
			android:parentActivityName=".ui.modules.main.MainActivity"
			/>
		<activity
			android:name=".ui.modules.plans.PlansPagerActivity"
			android:parentActivityName=".ui.modules.main.MainActivity"
			/>
		<activity
			android:name=".ui.modules.author.AuthorPagerActivity"
			android:parentActivityName=".ui.modules.authors.AuthorsActivity"
			/>
		<activity
			android:name=".ui.modules.award.AwardPagerActivity"
			android:parentActivityName=".ui.modules.awards.AwardsActivity"
			/>
		<activity
			android:name=".ui.modules.work.WorkPagerActivity"
			android:parentActivityName=".ui.modules.main.MainActivity"
			/>
		<activity
			android:name=".ui.modules.work.CyclePagerActivity"
			android:parentActivityName=".ui.modules.author.AuthorPagerActivity"
			/>
		<activity
			android:name=".ui.modules.edition.EditionPagerActivity"
			android:parentActivityName=".ui.modules.author.AuthorPagerActivity"
			/>
		<activity
			android:name=".ui.modules.classificator.ClassificatorPagerActivity"
			android:parentActivityName=".ui.modules.work.WorkPagerActivity"
			/>
		<activity
			android:name=".ui.modules.search.SearchActivity"
			android:parentActivityName=".ui.modules.main.MainActivity"
			/>
		<activity
			android:name="ru.fantlab.android.ui.modules.work.responses.overview.ResponseOverviewActivity"
			android:parentActivityName=".ui.modules.main.MainActivity"
			/>
		<activity
			android:name=".ui.modules.main.news.overview.NewsOverviewActivity"
			android:parentActivityName=".ui.modules.main.MainActivity"
			/>
		<activity
			android:name=".ui.modules.settings.SettingsActivity"
			android:configChanges="keyboard|orientation|screenSize"
			/>
		<activity android:name=".ui.modules.theme.ThemeActivity" />
		<activity
			android:name=".ui.modules.editor.EditorActivity"
			android:configChanges="keyboard|orientation|screenSize"
			android:windowSoftInputMode="adjustResize"
			/>
		<activity
			android:name=".ui.modules.about.AboutActivity"
			android:configChanges="keyboard|orientation|screenSize"
			android:parentActivityName=".ui.modules.main.MainActivity"
			/>

		<activity
			android:name="ru.fantlab.android.provider.parser.LinksParserActivity"
			android:configChanges="keyboard|orientation|screenSize"
			android:noHistory="true"
			android:theme="@android:style/Theme.NoDisplay"
			>
			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW" />

				<data
					android:host="fantlab.ru"
					android:scheme="https"
					/>

				<data android:pathPattern=".*\\/autor.*" />
				<data android:pathPattern=".*\\/work.*" />
				<data android:pathPattern=".*\\/edition.*" />
				<data android:pathPattern=".*\\/award.*" />
				<data android:pathPattern=".*\\/pubnews" />
				<data android:pathPattern=".*\\/pubplans" />
				<data android:pathPattern=".*\\/autplans" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
		</activity>

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="ce31e76eb8e3dbc70e6048f75e846e7117f1574c"
			/>
	</application>

</manifest>